.react-calendar-heatmap .color-empty { fill: #ebedf0; }
.react-calendar-heatmap .color-scale-more-small { fill: #c6e48b; }
.react-calendar-heatmap .color-scale-small { fill: #7bc96f; }
.react-calendar-heatmap .color-scale-large { fill: #239a3b; }
.react-calendar-heatmap .color-scale-more-large { fill: #196127; }
