.react-calendar-heatmap .color-scale-3 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-6 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-9 { fill: #44a340; }
.react-calendar-heatmap .color-scale-12 { fill: #1e6823; }
